* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.logo {
    width: 180px; 
}

.navbar {
    padding: 20px 50px;
}

.custom-toggler {
    border: none;
    background-color: transparent;
}

.custom-toggler:focus {
    box-shadow: none;
}

.navbar-nav .nav-link {
    color: #000; 
    font-size: 16px;
    font-weight: 600;
    padding: 8px 15px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #6C1A40;
    font-weight: bold;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgb(108,26,64)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Bot贸n de "Cont谩ctanos" */
.btn-contacto {
    background-color: #6C1A40;
    color: white;
    border-radius: 8px;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-contacto:hover {
    background-color: #B5E3FF;
    color: #6C1A40;
}

/* Ajustes en versi贸n mobile */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
        padding-top: 10px;
    }
    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }
    .btn-contacto {
        display: block;
        width: 100%;
        text-align: center;
    }
}


/* contenido*/

.div-container {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 42px;
    padding: 20px 50px;
}

.div-container p{
    text-align: left;
}

.div-img {
    width: 100%;
    max-width: 483px;
    height: auto; 
    align-items: center;
}

/*  Media Query para Responsividad */
@media (max-width: 768px) {
    .div-container {
        grid-template-columns: 1fr; 
        text-align: center; 
        gap: 20px;
        padding: 20px;
    }

    .div-img {
        max-width: 300px; 
        margin: 0 auto; 
    }
}

/* cards home-secci贸n 2*/
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 56px;
    gap: 24px;

    margin-bottom: 5%;

}

.card{
    width: 325px;
    background-color: #ffffff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px -1px rgba(0, 0, 0, 0.10);
    border: 0.5px solid #D6D4D6;
    margin: 20px;
    justify-items: center;
    padding: 6px;
}

.card img{
    width: 100%;
    max-width: 242px;
    height: auto;
}

.card-content{
    padding: 16px;

}

.card-content h4{
    color: #6C1A40;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 140%;
}

.card-content p{
    color: #000;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%;

}

/* secci贸n pasi贸n por el caf茅*/

.div-container-blue{
    background-color: #B5E3FF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 69px;
    padding: 20px 50px;
    justify-content: center;
    margin-bottom: 56px;

}

.div-subtitulo-blue{
    display: flex;
    gap: 24px;
    align-items: center;
    font-family: "Inter", serif;
    color: #6C1A40;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 24px;
    justify-content: center;
  
}

.div-content-blue p{
    color: #6C1A40;
}

.div-img{
    justify-items: center;
}

/* responsive*/

@media (max-width: 768px) {
    .div-container-blue{
        grid-template-columns: 1fr; /* Cambia a una sola columna */
        text-align: center; /* Centra el contenido */
        gap: 20px;
        padding: 20px;
    }

    .div-subtitulo-blue{
        font-size: 20px;
        justify-content: center;
    }
}

/* secci贸n testimonios */

.div-subtitulo-test{
    display: flex;
    gap: 24px;
}

.card-container-test{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 56px;
    gap: 24px;
    margin-bottom: 56px;
}

.card-test{
    display: flex;
    width: 383px;
    height: 282px;
    padding: var(--gap-gap-9, 48px) var(--gap-gap-6, 24px);
    align-items: flex-start;
    gap: var(--gap-gap-6, 24px);
    border-radius: var(--radius-radius-6, 24px);
    border: 0.5px solid var(--Foundation-White-white-600, #E1E1E1);
    background: #FFF;
    /* shadow-2 */
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px -1px rgba(0, 0, 0, 0.10);
}

.card-test p{
    text-align: left;
}

/*propiedades*/

p{
    font-family: "Inter", serif;
    color: #000000;
    font-weight: 500;
    line-height: 150%;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;

}


h3{
    font-family: "Inter", serif;
    color: #6C1A40;
    font-size: 32px;
    font-style:normal;
    line-height: 130%;
}

h5{
    font-family: "Inter", serif;
    color: #6C1A40;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

/*footer*/

.footer{
    justify-items: center;
    background-color: #6C1A40;
    font-size: 12px;
    width: auto;
    height: auto;
    padding: 24px;
    margin-top: 48px;
}

.parrafo-footer{
    font-family: "Inter", serif;
    color: #ffffff;
    font-weight: 300;
    line-height: 150%;
    text-align: center;
    margin-top: 24px;
}

.footer-icons{
    margin-top: 12px;
}

/*secci贸n men煤 */

.section-menu{
    background: #6C1A40;
    width: auto;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    padding: 24px 50px;
    color: #FFF;
}

.div-section-title-categories{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-gap-3, 8px);
    padding: 24px 50px;
}

.div-section-title-categories h3{
    color: #6C1A40;
    font-size: bold;
}

.card-container-menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gap-gap-6, 24px);
    align-self: stretch;
    padding: 24px 50px;
}


.card-menu{
    display: flex;
    width: 384px;
    height: 384px;
    padding: var(--gap-gap-5, 16px) var(--gap-gap-6, 24px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-gap-3, 8px);
    border-radius: var(--radius-radius-5, 16px);
    border: 0.5px solid #D6D4D6;
    background: var(--Neutral-neutral-0, #FFF);
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px -1px rgba(0, 0, 0, 0.10);
}

.card-content-menu{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
}

.card-content-menu h4{

    color: #6C1A40;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 140%; 
}

.card-content-menu p{
    color: #000;
text-align: center;

font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; 
}

/*responsive*/

@media (max-width: 768px) {
    .div-section-title-categories{
        align-items: center;
        }
    } 

.div-list-blue{
    margin-top: 24px;
}

/* secci贸n sobre brewlab*/

.div-list-blue h4{
    color: #6C1A40;

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 150%;
gap: 24px;
}

.div-list-blue p{
    text-align: left;
}

/*secci贸n nuestras t茅cnicas */

.card-tec{
    display: flex;
width: 282px;
height: 119px;
padding: var(--gap-gap-4, 12px) var(--gap-gap-3, 8px);
flex-direction: column;
align-items: center;
gap: var(--gap-gap-3, 8px);
justify-content: center;

border-radius: var(--radius-radius-3, 8px);
border: 0.5px solid #D9D9D9;
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px -1px rgba(0, 0, 0, 0.10);
}

.card-tec h4{
    color: #6C1A40;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 140%;
}

.card-tec p{
    color: #000;
text-align: center;

font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; 
}

/*secci贸n contacto*/

.div-container-white{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 69px;
    padding: 20px 50px;
    justify-content: center;
    margin-bottom: 56px;
    margin-top: 48px;
}

.list-white{
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}

.list-white p{
    color: #6C1A40;
}

.div-container-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .div-container-white{
        grid-template-columns: 1fr; /* Cambia a una sola columna */
        text-align:center; /* Centra el contenido */
        gap: 20px;
        padding: 20px;
    }

    .list-white{
        justify-content: center;
        flex-wrap: wrap;
    }

    .div-list-blue p{
        text-align: center;
    }

}

.div-title{

    font-family: "Inter", serif;
    color: #6C1A40;
    font-size: 56px;
    font-style: normal;
    font-weight:bold;
    line-height: 120%; 

}
