/* Error: Undefined variable.
 *    ,
 * 25 |     @media (max-width: map-get(v.$breakpoints, $size)) {
 *    |                                ^^^^^^^^^^^^^^
 *    '
 *   abstracts/_mixins.scss 25:32   respond-to()
 *   components/_buttons.scss 18:3  @use
 *   styles.scss 12:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 25 \2502      @media (max-width: map-get(v.$breakpoints, $size)) {\a    \2502                                 ^^^^^^^^^^^^^^\a    \2575 \a   abstracts/_mixins.scss 25:32   respond-to()\a   components/_buttons.scss 18:3  @use\a   styles.scss 12:1               root stylesheet";
}
