// Colores
$primary-color: #6C1A40;
$secondary-color: #B5E3FF;
$white: #ffffff;
$black: #000000;
$light-gray: #D6D4D6;
$light-gray-2: #E1E1E1;
$light-gray-3: #D9D9D9;

// Tipografía
$font-family: 'Inter', serif;

// Tamaños
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1404px;
$navbar-padding: 20px 50px;
$section-padding: 20px 50px;
$card-width: 325px;
$card-test-width: 383px;
$card-menu-width: 384px;